<div id='home_container' ng-controller = 'homeController'>
<div class="container">
	<div class="jumbotron">
  		<h1>Welcome to Radio Find!</h1>
  		<p>Imagine driving somewhere new and manually scanning for radio station frequencies in the area. Or maybe you lost all your favorite saved radio station frequencies. Radio Find is a crowdsourced application that will look for all user added radio stations in the area!</p>
</div>
	<div class='row'>
		<div class='col-md-4 col-md-offset-1'>
			<h3>Find Local Radio Stations in Your Area!</h3>
			<form class='form-horizontal'>
				<div class='locationbox'>
					<div class='form-group'>
						<label style='font-weight: bold' class='home_labels' for='location'>Location:</label>
						<select class='form-control' ng-model="search_station.location">
							<option value="All Cities">All Cities</option>
							<option ng-repeat="station in stations | unique:'location'">{{station.location}}</option>
						</select>
					</div>
					<button type="submit" id="search_btn" ng-click='searchStation()' class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>
		<div ng-hide='isLoggedIn()' class='col-md-5 col-md-offset-1'>
			<h3>Register & Join the Community</h3>
			<ul class=home_ul>
				<li><h4 class='home_h3'>Add New Stations</h4></li>
				<li><h4 class='home_h3'>Gain Access to Genre Search</h4></li>
				<li><h4 class='home_h3'>Save Favorite Stations</h4></li>
				<li><h4 class='home_h3'>Review and Comment on Stations</h4></li>
			</ul>
			<a href='#/stations/register' id="reg_btn" class="btn btn-primary">Register Now</a>
		</div>
	</div>
</div>
</div>